body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}


.main__title {
  width: 100%;
  height: 230px;
  opacity: 0.7;
  text-align: center;
  padding: 60px 0 30px;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  .h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .categorly {
    margin: 0 auto;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    a {
      color: #333;
      height: 100%;
      text-decoration: none;
      height: 50px;
      background: rgb(212, 212, 212);
      border-radius: 100px;
      padding: 0 20px;
      .categorly_text {
        font-size: 15px;
        line-height: 50px;
      }
      .categorly_text:hover {
        color: rgb(51, 49, 185);
      }
    }
  }
}

.home-body {
  background: #f5f5f5;
  height: 100%;
  padding: 50px 0;
}
.main {
  width: 60%;
  height: 370px;
  margin: 30px auto 120px;;
  background: orange;
  box-shadow: 20px 20px 30px -15px rgba(0,0,0,0.3);
  border-radius: 10px;
  &__body {
    width: 100%;
    height: 100%;
    display: flex;

    // 左要素
    &--left {
      width: 50%;
      height: 100%;
      background: white;
      position: relative;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      .touron__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &-box {
        position: absolute;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 40%;
        border-bottom-left-radius: 10px;
        &-text {
          height: 73%;
          color: rgb(255, 255, 255);
          font-size: 24px;
          font-weight: bold;
          padding: 10px 20px 0;
        }
        &-like {
          width: 100%;
          height: 27%;
          a {
            img {
              height: 100%;
              margin-left: 20px;
            }
          }
        }
      }
    }

    // 右要素
    &--right {
      width: 50%;
      height: 100%;
      letter-spacing: 0.2em;
      font-size: 14px;
      position: relative;
    }
  }
}

// 吹き出し部分
.oppation__image {
  position: absolute;
  top:20px;
  left: 0;
  z-index: 5;
  width: 100px;
  height: 100px;
  animation:blink 3s ease-in-out infinite alternate;
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
.agree__image {
  position: absolute;
  top:10px;
  right: -20px;
  z-index: 5;
  width: 150px;
  height: 150px;
  animation:blink 4s ease-in-out infinite alternate;
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
// 吹きだし部分

// 右側「討論中」
.touron__right--contents {
  width: 100%;
  height: 15%;
  font-size: 30px;
  background: #028000;
  color: #fff;
  text-align: center;
  line-height: 67.5px;
  border-top-right-radius: 10px;
}
.touron__right--box {
  display: flex;
  height: 85%;
  // 反対コメント
  .touron__box--opposition {
    width: 50%;
    background: whitesmoke;
    .touron__left {
      margin: 2px 0 0 2px;
    }
    .touron__left--comments {
      position: relative;
      .touron__user {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: -22px;
        left: 4px;
      }
    }
    .touron__right--opposition {
      width:90%;
      background: #E6CED0;
      border-radius: 5px;
      margin: 40px 0 0 10px;
      padding: 2px;
    }
  }
  // 賛成コメント
  .touron__box--agree {
    width: 50%;
    background: whitesmoke;
    border-bottom-right-radius: 10px;
    .touron__right--comments {
      position: relative;
      .touron__user {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-inline-end: 0;
        position: absolute;
        top: -20px;
        right: 5px;
      }
    }
    .touron__right--agree {
      width: 90%;
      background: #BBC8D6;
      border-radius: 5px;
      margin-top: 30px;
      padding: 2px;
    }
  }
}

// footer
.home-footer {
  width: 100%;
  height: 400px;
  background: #ffffff;
  &-name {
    width: 100%;
    height: 20%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0 80px;
  }
  &-contents {
    width: 100%;
    height: calc(80% - 100px);
    display: flex;
    overflow: scroll;
    a {
      .contents {
        width: 250px;
        height: 100%;
        margin-bottom: 32px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .fist {
        margin-left: 200px;
      }
      .last {
        margin-right: 200px;
      }
    }
  }
}