.errors_message {
  &_error {
    font-size: 13px;
    color: rgb(235, 130, 130);


  }
}

.field_with_errors {
  display: contents;


  
  // 赤枠つけたければ・・・
  // .text-area:valid {
  //   border: 1px solid rgb(255, 0, 0);
  // }

  // select:valid {
  //   border: 1px solid rgb(255, 0, 0);
  // }
}
