.header{
  height:100px;
  .upper{
    height:10px;
    background-color: steelblue;
  }
  .bottom{
    display:flex;
    background-color: steelblue;
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size: x-large;
    color: white;
    font-weight: bold;
  }
  .lower{
    height:10px;
    background-color: steelblue;
  }
}