- unless current_user == user
  - if current_user.following?(user)
    = render 
  - else
    = form_for(current_user.relationships.build, remote: true) do |f|
      = f.hidden_field :follow_id, value: user.id
      = f.submit 'フォローする', class: 'follows'