- if room.likes_by?(current_user)
    = link_to image_tag("heart.png"), likes_delete_path(id: room.id, room_id: room.id), method: :post, remote: true
- else
    = link_to image_tag("heart2.png"),likes_create_path(id: room.id, room_id: room.id), method: :post, remote: true