!!!
.header
  .bottom
    .bottom__center
      %h2 TOURONテーマ
    .bottom__right
      %button#menu-button.open{:onclick => "onClickMenu()"}
        %span#menu-open{:style => "display: block"} Agree
        %span#menu-close{:style => "display: none"} Oposition
      %div
