.talk_side
  .talk_side__bar
    - @talk_sort.each do |user|
      - talks = Talk.find_by(id:user[1]) #ハッシュの2番目の値でid検索
      - users = User.find_by(id:talks.user_id)
      = link_to mypages_path(users), class: "talk_side__group", data:{id:(talks.user_id)}  do
        .talk_side__group__image
        = image_tag users.image.url
        .talk_side__group__name
          =users.username
