.talk_side
  = link_to root_path, class: "talk_side-box" do
    = icon('fas fa-home', class: 'icon')
    .text
      = @rooms.name
  
  -# 一覧（Each）
  -# - @users.each do|user|
  -#   - users = User.find_by(id:user.user_id)
  -#   = link_to root_path, class: "talk_side-group" do
  -#     = image_tag users.image_url
  -#     .name
  -#       = users.username