.room-main
  .room-main-content
    .room-main-content__left
      .room-main-content__left__box
      .room-main-content__left__user
        .room-main-content__left__user--image
        .room-main-content__left__user--text
    .room-main-content__right
      -# - @talks.each do|talk|
      -#   .room-main-content__right__user
      -#     .room-main-content__right__user--image
      -#     .room-main-content__right__user--text
      -#       = talk.text
      -#   .room-main-content__right__box