.search_result{
  background-color:white;
}

.content_search-main{
  display:block;
  text-align:center;
  margin-top:20px;
}

.content_search-result{
  font-size:30px;
  text-align:center;
  border-bottom:solid 1px gray;
}

.content_search-link{
  text-decoration:none;
  color:black;
}