// .a {
//   width: 100%;
//   height: 100vh;
// }

// // 投稿フォーム
.message-footer {
  background: white;;
  padding-top: 2px;
  border-top: 1px solid #b3b3b3;
  &-area {
    display: flex;
    padding: 0 20px;
    // width: calc(100% - 40px);
    height: 100%;
    .from {
      width: 100%;
      // ボタン系配置
      &-btn {
        float: right;
        // スタンプ系
        &-sutamp {
          width: 20%;
          a {
            text-decoration: none;
            color: #333;
            font-size: 30px;
            padding-left: 10px;
            .clip {
              padding-left: 5px;
            }
          }

          .clip {
            padding-left: 5px;
            text-decoration: none;
            color: #333;
            font-size: 27px;
            padding-left: 10px;
          }
          
          .clip:hover {
            cursor: pointer;
          }
        }

        // 送信ボタン
        &-submit {
          background: #007a5a;
          border-radius: 4px;
          color: #fff;
          width: 90px;
          border:0;
          margin-right: 10px;
          font-size: 20px;
        }
        &-submit:hover {
          opacity: 90%;
        }
      }
      .cp_tab *, .cp_tab *:before, .cp_tab *:after {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
      }
      .cp_tab {
        margin: 1em auto;
      }
      .cp_tab > input[type='radio'] {
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        outline: none;
        background: none;
        -webkit-appearance: none;
                appearance: none;
        display: none;
      }
      .cp_tab .cp_tabpanels {
        position: relative;
        min-height: 100px;/* エリアの高さ */
      }
      .cp_tab .cp_tabpanel {
        position: absolute;
        width: 100%;
        opacity: 0;
        padding: 0.5em 1em;
        transform: translateY(-10px);
        -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
      }
      .cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
      .cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),{
        opacity: 1;
        transform: translateY(0px);
      }
      .cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child {
        background-color: rgb(226, 124, 124);
        height: 100px;
        border-radius: 0px 5px 5px 5px;
      }
      .cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2) {
        background-color: #6699FF;
        height: 100px;
        border-radius: 0px 5px 5px 5px;
      }
      .cp_tab > label {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 6px 6px 0 0;
        font-weight: bold;
      }
      .cp_tab > input:first-child + label {
        background-color: rgb(226, 124, 124);
        color: white;
      }
      .cp_tab > input:nth-child(3) + label {
        background-color: #6699FF;
        color: white;
      }
      .cp_tab > label:hover {
        color: #0066cc;
      }
      .cp_tab > input:focus + label {
        color: #ffffff;
      }
      .cp_tab > input:checked + label {
        margin-bottom: -1px;
      }
      @media (max-width: 480px) {
        .cp_tab {
          width: 100%;
          font-size: 0.8em;
        }
        .cp_tab label {
          padding: 0.5em;
        }
      }
      
      .tab-content{
        width: 100%;
        height: calc(100% - 5px);
        border-radius: 4px;
        border: 2px solid rgb(128, 128, 128);
        resize: none;
        font-size: 18px;
        margin-top: 3px;
      }
      .tab-content2{
        @extend.tab-content;
      }
    }
  }
}

.hidden{
  display:none;
}

.end_message-footer {
  width: 829px;
  height: 160px;
  background-color: whitesmoke;
  border-top: 1px solid #333;
  &-text {
    line-height: 160px;
    text-align: center;
    font-size: 25px;
    color: #333;
    font-weight: bold;
  }
}