* {
  margin: 0;
  box-sizing: border-box;
}

.room-main {
  height: 100%;
  padding-bottom: 50px;
  background-color: whitesmoke;
  .room-main-content {
    width: 100%;
    display: flex;
    height: 520px;
    // 左側（賛成）
    &__left {
      background-color:whitesmoke;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column-reverse;
      overflow: scroll;
      &__box {
        height: 60px;
      }
      &__user {
        overflow: visible;
        // height: 120px;
        width: 90%;
        display: flex;
        align-items: center;
        position: relative;
        margin: 10px 0 20px 0;
        &--image {
          height: 50px;
          width: 50px;
          border: outset 1px transparent;
          border-radius: 100px;
          // background-color: white;
          position: absolute;
          top: 5px;
          margin-right: 10px;
          &--main {
            height: 50px;
            width: 50px;
            border-radius: 100px;
          }
        }
        &--text {
          width: 100%;
          overflow: visible;
          // text-align: center;
          // line-height: 80%;
          // height: auto;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          background-color: #E6CED0;
          border-radius: 20px;
          padding: 10px 50px 10px 60px;
          font-size: 12px;
          &--name {
            font-size: 5px;
            font-weight: 900;
            border-bottom: 1px solid black;
          }
          &--content {
            display: flex;
            flex-wrap: wrap;
            position: static;

            p {
            }
            &--image {
              margin: 5px 10px;
              border-radius: 20px;
              width: 150px;
              height: 150px;
            }
          }
        }
        &--text2 {
          width: 100%;
          height: 120px;
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          background-color: #E6CED0;
          border-radius: 20px;
          padding: 10px 50px 10px 60px;
          font-size: 12px;
        }
      }
    }

    // 右側（反対）
    &__right {
      background-color: whitesmoke;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      overflow: scroll;
      &__user {
        overflow: visible;
        // height: calc(100% - 85vh);
        width: 90%;
        display: flex;
        align-items: center;
        position: relative;
        margin: 10px 0 20px 0;
        &--image {
          height: 50px;
          width: 50px;
          border: outset 1px transparent;
          border-radius: 100px;
          // background-color: white;
          position: absolute;
          bottom: 5px;
          right: 1px;
          &--main {
            height: 50px;
            width: 50px;
            border-radius: 100px;
          }
        }
        &--text {
          overflow: visible;
          width: 100%;
          display: flex;
          flex-direction: column;
          // text-align: center;
          // height: 80%;
          // line-height: 80%;
          box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
          background-color: #BBC8D6;
          border-radius: 20px;
          padding: 10px 60px 10px 30px;
          font-size: 12px;
          &--name {
            font-size: 5px;
            font-weight: 900;
            border-bottom: 1px solid black;
            display: flex;
            justify-content: flex-end;
          }
          &--content {
            display: flex;
            flex-wrap: wrap;
            overflow: visible;
            p {
              position: static;
            }
            &--image {
              margin: 5px 10px;
              border-radius: 20px;
              width: 150px;
              height: 150px;
            }
          }
        }
        &--text2 {
          width: 100%;
          height: 120px;
          box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
          background-color: #BBC8D6;
          border-radius: 20px;
          padding: 10px 60px 10px 30px;
          font-size: 12px;
        }
      }
    }
  }
}

.talk-main {
  width: 100%;
  height: 100%;
}

.all-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white;
}
.message-box {
  width: 60%;
  height: 100%;
  border: 1px solid #b3b3b3;;
}