* {
  margin: 0;
  box-sizing: border-box;
}

.room-main {
  height: 100%;
  margin-bottom: 30px;
  .room-main-content {
    height: 90%;
    width: 100%;
    display: flex;
    overflow: scroll;
    // 左側（反対）
    &__left {
      background-color:whitesmoke;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column-reverse;
      overflow: scroll;
      &__box {
        height: 60px;
      }
      &__user {
        overflow: visible;
        // height: 120px;
        width: 90%;
        display: flex;
        align-items: center;
        position: relative;
        margin: 10px 0 20px 0;
        &--image {
          height: 100px;
          width: 100px;
          border: outset 1px transparent;
          border-radius: 100px;
          background-color: white;
          position: absolute;
          margin-right: 10px;
        }
        &--text {
          // width: 100%;
          overflow: visible;
          // text-align: center;
          // line-height: 80%;
          // height: auto;
          display: flex;
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          background-color: #E6CED0;
          border-radius: 50px;
          padding: 10px 50px 10px 100px;
          font-size: 20px;
          &--name {
            font-size: 8px;
            border-bottom: 1px solid black;
          }
          &--image {
            margin: 0 10px;
            border-radius: 20px;
          }
        }
        &--text2 {
          width: 100%;
          height: 120px;
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          background-color: #E6CED0;
          border-radius: 50px;
          padding: 10px 50px 10px 100px;
          font-size: 20px;
        }
      }
    }

    // 右側（賛成）
    &__right {
      background-color: whitesmoke;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      overflow: scroll;
      &__user {
        overflow: visible;
        // height: calc(100% - 85vh);
        width: 90%;
        display: flex;
        align-items: center;
        position: relative;
        margin: 10px 0 20px 0;
        &--image {
          height: 100px;
          width: 100px;
          border: outset 1px transparent;
          border-radius: 100px;
          background-color: white;
          position: absolute;
          right: 1px;
        }
        &--text {
          overflow: visible;
          width: 100%;
          display: flex;
          // text-align: center;
          // height: 80%;
          // line-height: 80%;
          box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
          background-color: #BBC8D6;
          border-radius: 50px;
          padding: 10px 100px 10px 30px;
          font-size: 20px;
          &--name {
            font-size: 8px;
            border-bottom: 1px solid black;
            display: flex;
            justify-content: flex-end;
          }
          &--image {
            margin: 0 10px;
            border-radius: 20px;
          }
        }
        &--text2 {
          width: 100%;
          height: 120px;
          box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
          background-color: #BBC8D6;
          border-radius: 50px;
          padding: 10px 100px 10px 30px;
          font-size: 20px;
        }
      }
    }
  }
}

.talk-main {
  width: 100%;
  height: 100%;
}

.all-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white;
}
.message-box {
  width: 60%;
  height: 100%;
}