* {
  margin: 0;
}

.room-main {
  height: 100vh;
  width: 100vw;
  .room-main-content {
    height: 100%;
    width: 100%;
    display: flex;
    &__left {
      background-color: #db3f10;
      height: 100%;
      width: 50vw;
      display: flex;
      flex-direction: column-reverse;
      &__user {
        height: 200px;
        width: 90%;
        display: flex;
        align-items: center;
        position: relative;
        &--image {
          height: 100px;
          width: 100px;
          border: outset 1px transparent;
          border-radius: 100px;
          background-color: white;
          position: absolute;
        }
        &--text {
          width: 100%;
          height: 150px;
          background-color: greenyellow;
          border-radius: 50px;
        }
      }
    }
    &__right {
      background-color: #1f8fbb;
      height: 100%;
      width: 50vw;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      &__user {
        height: 200px;
        width: 90%;
        display: flex;
        align-items: center;
        position: relative;
        &--image {
          height: 100px;
          width: 100px;
          border: outset 1px transparent;
          border-radius: 100px;
          background-color: white;
          position: absolute;
          right: 1px;
        }
        &--text {
          width: 100%;
          height: 150px;
          background-color: greenyellow;
          border-radius: 50px;
        }
      }
    }
  }
}