.mypage-main
  .mypage-main-box
    .follow_user

      -# タイトル
      .follow_user-title
        .follow_user-title-text.followフォロー
        .follow_user-title-textフォロワー

      -# メイン
      .follow_user-main
        .follow_user-main-box
          .follow_user-main-box-area
          .follow_user-main-box-area
          .follow_user-main-box-area
          .follow_user-main-box-area
          .follow_user-main-box-area
          .follow_user-main-box-area
          .follow_user-main-box-area
          .follow_user-main-box-area
          .follow_user-main-box-area
          .follow_user-main-box-area
          .follow_user-main-box-area



