-# .mypage-main-box-home.content-remove
-#   .mypage-main-box-home-box
-#     .mypage-main-box-home-box-header
-#       .header-box 
-#         .header-box-text 利用規約
-#     .mypage-main-box-home-box-content
-#       .text-title 第1条（規約の適用）
-#       .text-text 本規約は、本サービスの提供条件及び本サービス運営者（以下「運営者」といいます。）と登録ユーザーとの間の権利義務関係を定めることを目的とし、登録ユーザーと運営者との間のサービスの利用に関わる一切の関係に適用されるものとします。

-#       .text-title 第2条（利用登録）
-#       .text-text 登録希望者が運営者の定める方法によって利用登録を申請し、運営者がこれを承認することによって、利用登録が完了するものとします。
-#       .text-text 運営者は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。

-#       .text-title 第3条（登録ユーザーIDおよびパスワードの管理）
-#       .text-text 登録ユーザーは、自己の責任において、本サービスの登録ユーザーIDおよびパスワードを適切に管理及び保管するものとします。
-#       .text-text 登録ユーザーは、いかなる場合にも、登録ユーザーIDおよびパスワードを第三者に譲渡または貸与することはできません。
-#       .text-text パスワード又はユーザーIDの管理不十分、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、運営者は一切の責任を負いません。

-#       .text-title 第4条（著作権）
-#       .text-text 登録ユーザーは、自ら著作権等の必要な知的財産権を有するか、または必要な権利者の許諾を得た文章、画像や映像等の情報のみ、本サービスを利用し、投稿及び編集できるものとします。
-#       .text-text 登録ユーザーが本サービスを利用して投稿または編集した文章、画像、映像等の著作権については、当該登録ユーザーあるいは既存の権利者に留保されるものとします。
      


