.header
  .header__content
    .left
      .left__title
        いいねした数
      .left__content
        = icon("far fa-heart fa-3x ",class: "icon")
        .calc_box
          999
    .center
      .center__title
        参加TOURON数
      .center__content
        = icon("far fa-comments fa-3x",class: "icon")
        .calc_box
          999
    .right
      .right__title
        いいねされた数
      .right__content
        = icon("far fa-thumbs-up fa-3x",class: "icon")
        .calc_box
          999
  = render "main-room"

