.topic__image
  /以下 swiperのコード/
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        = image_tag "left_image.jpg"
      .swiper-slide
        = image_tag "touron_image.jpg"
      .swiper-slide
        = image_tag "TOURON_logo.jpg"
    .swiper-pagination.swiper-pagination-white
    .swiper-button-prev.swiper-button-white
    .swiper-button-next.swiper-button-white