.topic__image
  /以下 swiperのコード/
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        = image_tag "top1"
    .swiper-pagination.swiper-pagination-white
    .swiper-button-prev.swiper-button-white
    .swiper-button-next.swiper-button-white