.footer-text
  = link_to root_path, class: "footer-text-info" do
    プライバシーポリシー
  = link_to root_path, class: "footer-text-info" do
    TOURON利用規約
  = link_to root_path, class: "footer-text-info" do
    お問い合わせ
.footer-logo
  = image_tag("TOURON_gray-cutout", class: "footer-logo_img")
  .footer-logo_text
    @TOURON.com