.room-main
  .room-main-content
    .room-main-content__left
      .room-main-content__left__user
        .room-main-content__left__user--image
        .room-main-content__left__user--text
      .room-main-content__left__box
    .room-main-content__right
      .room-main-content__right__user
        .room-main-content__right__user--image
        .room-main-content__right__user--text
      .room-main-content__right__box