 * {
  box-sizing: border-box;
}
.my__header{  
  width:700px;
  height:140px;
  background-color: white;
  margin-left: 600px;
  &__content{
    height:100px;
    display:flex;
    padding-top: 20px;
    .left{
      width:calc(700px/3);
      height:100px;
      .left__title{
        height:20px;
        text-align: center;
      }
      &__content{
        display: flex;
        height: 50px;
        .fa-3x{
          padding-left: 15px;
        }
        .calc_box{
          height:30px;
          width:100px;
          margin-left: 40px;
          margin-top: 10px;
          font-size: x-large;
        }
      }
    }
    .center{
      @extend.left;
      border-left: solid 1px #cccccc;
      &__title{
        @extend.left__title
      }
      &__content{
        @extend.left__content;
        .fa-3x{
          padding-left: 20px;
        }
        .calc_box{
          @extend.calc_box;
        }
      }
    }
    .right{
      @extend.left;
      border-left: solid 1px #cccccc;
      &__title{
        @extend.left__title
      }
      &__content{
        @extend.left__content;
        .fa-3x{
          padding-left: 20px;
        }
        .calc_box{
          @extend.calc_box;
        }
      }
    }
  }
}
