.mainmain {
  width: 100%;
  height: 60px;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
}

// マイページ全体のdiv
.mypage__index {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;
}

// マイルーム部分
.main--mypages {
  width: 82%;
  height: 82%;
  padding: 50px 0;

  &-contents {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);

    // タブ
    &-tabs {
      height: 10%;
      border-bottom: 1px solid #f1f1f1;
      display: flex;
      justify-self: start;
      align-items: center;
      padding-left: 30px;

      .content-name {
        color: #a8a8a8;
        line-height: 53px;
        margin-right: 40px;
        font-size: 17px;
        font-weight: bold;
        height: 100%;
        cursor: pointer;
      }
      .content-name2 {
        color: #a8a8a8;
        line-height: 53px;
        margin-right: 40px;
        font-size: 17px;
        font-weight: bold;
        height: 100%;
        cursor: pointer;
      }
      .content-name3 {
        color: #a8a8a8;
        line-height: 53px;
        margin-right: 40px;
        font-size: 17px;
        font-weight: bold;
        height: 100%;
        cursor: pointer;
      }

      // クリックされたタブ名（JS）
      .choice-contens {
        color: #333;
        border-bottom: 2px solid #333;
      }
    }

    // メインボックス
    &-main {
      height: 90%;
      padding: 20px 30px;

      // 全ての部屋
      .content-main {
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        &-box {
          width: 100%;
          height: 28%;
          border-bottom: 1px solid #f1f1f1;
          display: flex;
          &-img {
            width: 20%;
            height: 100%;
            padding: 10px;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
          &-text {
            width: 70%;
            height: 100%;
            padding: 10px;
            padding: 20px 0;
            &-title {
              width: 100%;
              height: 70%;
              padding: 0 10px;
              .room-title {
                font-size: 16px;
                color: rgb(75, 75, 75);
                font-weight: bold;
              }
            }
            &-contents {
              width: 100%;
              height: 30%;
              display: flex;
              padding: 0 20px;
              .content {
                display: flex;
                color: rgb(134, 134, 134);
                padding-right: 20px;
                align-items :center;
                i {
                  padding-right: 5px;
                  font-size: 15px;
                }
                .number {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }

      /*スクロールバー*/
      .content-main::-webkit-scrollbar {
        width: 10px;
      }
      /*スクロールバーの軌道*/
      .content-main::-webkit-scrollbar-track {
      border-radius: 5px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
      }
      /*スクロールバーの動く部分*/
      .content-main::-webkit-scrollbar-thumb {
      background-color: rgba(131, 131, 131, 0.5);
      border-radius: 5px;
      box-shadow:0 0 0 1px rgba(255, 255, 255, 0.3);
      }

      // 自分の部屋
      .content-main2 {
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        &-box {
          width: 100%;
          height: 28%;
          border-bottom: 1px solid #f1f1f1;
          display: flex;
          &-img {
            width: 20%;
            height: 100%;
            padding: 10px;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
          &-text {
            width: 70%;
            height: 100%;
            padding: 10px;
            padding: 20px 0;
            &-title {
              width: 100%;
              height: 70%;
              padding: 0 10px;
              .room-title {
                font-size: 16px;
                color: rgb(75, 75, 75);
                font-weight: bold;
              }
            }
            &-contents {
              width: 100%;
              height: 30%;
              display: flex;
              padding: 0 20px;
              .content {
                display: flex;
                color: rgb(134, 134, 134);
                padding-right: 20px;
                align-items :center;
                i {
                  padding-right: 5px;
                  font-size: 15px;
                }
                .number {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }

      /*スクロールバー*/
      .content-main::-webkit-scrollbar {
        width: 10px;
      }
      /*スクロールバーの軌道*/
      .content-main::-webkit-scrollbar-track {
      border-radius: 5px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
      }
      /*スクロールバーの動く部分*/
      .content-main::-webkit-scrollbar-thumb {
      background-color: rgba(131, 131, 131, 0.5);
      border-radius: 5px;
      box-shadow:0 0 0 1px rgba(255, 255, 255, 0.3);
      }


      // いいね部屋
      .content-main3 {
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        &-box {
          width: 100%;
          height: 28%;
          border-bottom: 1px solid #f1f1f1;
          display: flex;
          &-img {
            width: 20%;
            height: 100%;
            padding: 10px;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
          &-text {
            width: 70%;
            height: 100%;
            padding: 10px;
            padding: 20px 0;
            &-title {
              width: 100%;
              height: 70%;
              padding: 0 10px;
              .room-title {
                font-size: 16px;
                color: rgb(75, 75, 75);
                font-weight: bold;
              }
            }
            &-contents {
              width: 100%;
              height: 30%;
              display: flex;
              padding: 0 20px;
              .content {
                display: flex;
                color: rgb(134, 134, 134);
                padding-right: 20px;
                align-items :center;
                i {
                  padding-right: 5px;
                  font-size: 15px;
                }
                .number {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }

      /*スクロールバー*/
      .content-main::-webkit-scrollbar {
        width: 10px;
      }
      /*スクロールバーの軌道*/
      .content-main::-webkit-scrollbar-track {
      border-radius: 5px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
      }
      /*スクロールバーの動く部分*/
      .content-main::-webkit-scrollbar-thumb {
      background-color: rgba(131, 131, 131, 0.5);
      border-radius: 5px;
      box-shadow:0 0 0 1px rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.content-remove {
  display: none;
}