.container {
  // background: url(bg.jpg) repeat;
  &__top {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
  }
  &__text {
  margin-left: 30px;
  margin-top: 40px;
  }
}
.form-bg {
  width: 650px;
  height: 500px;
  margin: 100px auto 0;
  border-radius: 9px;
  padding: 8px 0 0 8px;
  form {
    width: 97%;
    height: 96%;
    // background: #fff url(bg_form.jpg) repeat-x top left;
    border-radius: 4px;
  }
  h2 {
      font-size: 14px;
      font-weight: bold;
      color: #555555;
      font-family: “HelveticaNeue”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
      line-height: 45px;
      margin-bottom: 25px;
      margin-left: 25px;
    }
}
.field {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  &__password {
  height: 50px;
  width: 100%;
  &__label {
    display: inline-block;
  }
  &__require {
    background: #ea352d;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  }
  input[type=“email”] {
    box-shadow: 0px 0px 0px 4px #F2F5F7;
    width: 290px;
    height: 33px;
    padding: 0 10px;
    margin: 0 auto;
    color: #AEAEAE;
    border: 1px solid #BEC2C4;
  }
  input[type=“password”] {
    box-shadow: 0px 0px 0px 4px #F2F5F7;
    width: 290px;
    height: 33px;
    padding: 0 10px;
    margin: 0 auto;
    color: #AEAEAE;
    border: 1px solid #BEC2C4;
  }
  label {
    margin-left: 30px;
    font-size: 13px;
  }
  &__submit {
    text-align: center;
  .submit_btn {
    background-color: rgb(29, 161, 242);
    border-radius: 5px;
    color: #fff;
    line-height: 1;
    padding: 0.7em 1.2em;
    opacity: 0.8;
  }
}
}
  .footer {
    text-align: center;
    background-color: white;
  }


