.time-image {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  // animation: Flash3 2s infinite;
  // @keyframes Flash3 {
  //   50% {
  //     text-shadow: 1px 1px 0 red;
  //     box-shadow: 0 1px 8px 0 red; 
  //   }
  .time {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    line-height: 65px;
  }
  
}


  .display-hiidden {
    display: none;
  }

  // rgba(0, 0, 0, .5);