.time-image {
  width: 250px;
  height: 70px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: gray;
  // border: 5px solid red;
  border-radius: 10px;
  position: relative;
  animation: Flash3 2s infinite;
  @keyframes Flash3 {
    50% {
      text-shadow: 1px 1px 0 red;
      box-shadow: 0 1px 8px 0 red; 
    }
  }
  .backimage {
    // display: none;
    margin: 10px 20px;
    opacity: 0.2;
  }
  .time {
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 17px;
    left: 14px;
    color: white;
  }
}