#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  // background-image: image-url(load);
  // background-size: cover;
  background-color: whitesmoke;
  z-index: 12;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 13;
}

.spinner {
  margin: 100px auto;
  width: 200px;
  height: 200px;
  position: relative;
}

.cube1, .cube2 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.5s infinite ease-in-out;
  animation: sk-cubemove 1.5s infinite ease-in-out;
  animation-direction: alternate;
}

.cube3, .cube4 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25%;

  -webkit-animation: sk-cubemove 1.5s infinite ease-in-out;
  animation: sk-cubemove 1.5s infinite ease-in-out;
  animation-direction: alternate;
}

.cube5, .cube6{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  
  -webkit-animation: sk-cubemove 1.5s infinite ease-in-out;
  animation: sk-cubemove 1.5s infinite ease-in-out;
  animation-direction: alternate;
}

.cube7, .cube8 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;

  -webkit-animation: sk-cubemove 1.5s infinite ease-in-out;
  animation: sk-cubemove 1.5s infinite ease-in-out;
  animation-direction: alternate;
}

.cube1 {
  background-color: rgb(226, 38, 13);
}

.cube2 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
  background-color: rgb(42, 13, 170);
}

.cube3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
  background-color: rgb(18, 179, 219);
}

.cube4 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  background-color: rgb(39, 184, 63);
}

.cube5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background-color: rgb(226, 177, 13);
}

.cube6 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background-color: rgb(226, 116, 13);
}

.cube7 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
  background-color: rgb(149, 47, 180);
}

.cube8 {
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
  background-color: rgb(0, 0, 0);
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(80px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(80px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(80px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(80px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(-30px)  rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(80px) translateY(80px) rotate(-179deg);
    -webkit-transform: translateX(-80px) translateY(-80px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(80px) translateY(80px) rotate(-180deg);
    -webkit-transform: translateX(-120px) translateY(80px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(100px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(60px)  rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: translateX(80px) rotate(-360deg);
  }
}
