=render "homes/header"

.search_result
  %h1.content_search-result
    検索結果


%ul.tab-group
  %li.tab.is-active ROOM
  %li.tab User
.panel-group
  .panel.is-show 
    .contents_search
      - @search.each do |search|
        .content_search-main
          =link_to root_path,class:"content_search-link" do
            .content_search-main_title
              ="・#{search.name}"
  .panel Content-B
  .panel Content-C



-# .content_serch-main_image
-# =image_tag search.image.url,width:"100px",height:"100px"
    




  
