.errors_message-user {
  margin-bottom: 15px;
  &-devise {
    font-size: 13px;
    color: rgb(235, 130, 130);
    text-align: left;
    margin-left: 50px;

  }
}

.field_with_errors {
  display: contents;

  .input:valid {
    border-bottom: 1px solid rgb(240, 177, 177);
  }
}